@media (min-width: 300px) and (max-width: 768px){
    header{
        margin-inline: 1.5rem;
    }
    
    nav{
        display: none;
    }

    .menu{
        z-index: 0;
        background-color: white;
        position: absolute;
        top: 2.5rem;
        right: 0rem
    }

    .menu-icons #button-menu-mobile{
        display: block;
    }
    
    .dropdown-menu{
        position:absolute;
        right: 1.5rem;
        background-color: white;
        text-align: right;
    }

    .dropdown-menu a{
        font-size: 1rem;
        color:#2A254B;
        padding: 2rem 1rem;
    }

    .dropdown-menu li{
        border: #494565 2px solid
    }

    .chair-background{
        display: none;
    }

    .list-of-items{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem; 
    }

    .about-brand{
        width: fit-content;
        font-size: 1.25rem;
        margin: 0;
    }
    
    .about-brand-information{
        padding: 2.8rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
    
    .button-viewcollection{
        margin-top: 2rem;
        order: 3;
    }
    
    .main-text-about-brand{
        font-size: 1.25rem;
        order: 1
    }
    
    .text-about-brand{
        font-size: 1rem;
        order: 2;
        margin-top: 10rem;
    }

    .different-about-brand .title-of-block{
        font-size: 1.25rem;
    }
    
    .title-block-dab{
        font-weight: 400;
    }
    .dab-text{
        font-size: 1rem;
    }

    .ceramics{
        margin-block: 3rem 5.1rem;
        margin-inline: 1.5rem;
    }

    #chair{
        order:4
    }
    #lamp{
        order:2
    }
    #vaseset{
        order:1
    }
    #vase{
        order:3
    }

    .ceramics .button-viewcollection{
        width: auto;
        justify-self: normal;
        margin-top: 0.7rem;
    }

    .list-of-items{
        padding-block: 1rem;
    }

    .title-ceramics{
        font-size: 1.25rem;  
    }
    
    .item{
        font-size: 1rem;
    }

    .list-of-items img{
        height: 13.25rem ;
        width: 10.1rem
    }
    
    .button-get-in-touch{
        font-size: 1.25rem;
        margin: 0;
        width: auto;
        margin-inline: 1.5rem;
        margin-bottom: 2rem
    }

    .get-in-touch{
        flex-direction: column;
        margin-inline: 0rem;
    }

    .get-in-touch img{
        position: relative;
    }

    .get-in-touch-text{
        padding: 0rem;
        max-width: fit-content;
        margin-inline: 1.5rem;
    }

    .get-in-touch-text-and-button{
        gap: 3.5rem
    }

    .club{
        margin-block: 2rem;
        margin-inline: 1.5rem;
        text-align: left;
        background-color: #FFFFFF;
    }

    .club-content{
    padding: 0rem;
    }
    .club h3{
        font-size: 1.25rem;
    }
    .club p{
    font-size: 1rem;
    }
    .club .signup-input{
        width: 13.1rem;
    }
    .add-to-cart-button, .favorite-button{
        margin: auto;
    }
    .club-text{
        max-width: 21rem;
    }


    footer{
        padding: 2.5rem 1.5rem;
    }

    .signup-input{
        padding: 1rem 1.5rem;
        width: 13.1rem;
        margin-bottom: 1rem;
    }

    .button-signup{
        height:max-content
    }

    .footer-upper-block{
        flex-wrap: wrap;
        margin-inline: 0rem;
        gap: 1rem;
        justify-content: space-between;
    }

    footer ul{
        margin-bottom: 1.5rem
    }

    .copyright-and-icons{
        align-self: end;
    }

    .icons{
        display: none;
    }
    
    
    /*PAGE 2*/

    .main-item{
        flex-direction: column;
        padding: 0
    }
    
    .text-about-item{
        padding: 1.25rem;
    }
    
    .item-buttons{
        flex-wrap: wrap;
    }

    .dimensions-parametrs{
        font-size: 1rem;
        gap: 1rem
    }

    .couch-bg{
        width: 24.3rem;
        height: auto
    }

    .club-page-item-content{
        padding: 1.5rem;
        gap: 2rem
    }
    .club-main-text{
        font-size: 1.25rem;
    }
    .club-text-information{
        font-size: 1rem;
    }
    .club-page-item .signup-input{
        width: 13.1rem;
    }
    

}