.wrap{
    padding-right: calc(50% - 720px);
    padding-left: calc(50% - 720px);
}

/*HEADER*/

header{
    margin-inline: 5rem;
    display: flex;
    justify-content: space-between;
    padding-block: 1.2rem;
}

nav ul{
    color: #726E8D;
    display: flex;
    gap: 2.75rem
}

.nav-link{
    color: #726E8D;
    font-size: 1.25rem;
}

.menu{
    display: none;
}

.menu-icons #button-menu-mobile{
    display: none;
}

.menu-icons{
    display: flex;
    gap: 1rem;
    height: 1rem;
    margin-left: 2rem
}

/*ABOUT BRAND*/

.about-brand{
    display: flex;
    margin-block: 3.75rem;
    margin-inline: 5rem;
}

.about-brand-information{
    background-color: #2A254B;
    padding: 3.75rem;
    color: white;
}

.button-viewcollection{
    background-color: #F9F9F926;
    margin-top: 2.5rem;
    color: white;
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 1.25rem;
    transition: all ease .3s;
}

.button-viewcollection:hover{
    background-color: #F9F9F94D;
}

.main-text-about-brand{
    font-size: 2rem;
    max-width: 32rem;
}

.text-about-brand{
    font-size: 1.25rem;
    margin-top: 12.25rem;
    line-height: 1.4;
}

/* DIFFERENT ABOUT OUR BRAND*/

.different-about-brand{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-inline: 5rem;
    color: #2A254B;
    margin-block: 2rem
}

.different-about-brand-content{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem
}

.dab-block{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    max-width: 17rem;
}

.dab-icon{
    width: 1.5rem;
    height: auto
}

.title-block-dab{
    font-weight: 600;
    font-size: 1.25rem;
}

.dab-text{
    font-size: 1.25rem;
}
/*CERAMICS*/

.ceramics{
    margin-block: 5rem 3.25rem;
    color: #2A254B;
    display: grid;
    margin-inline: 5rem;
}

.ceramics .button-viewcollection{
    color:#2A254B;
    background-color: #F9F9F9;
    width: fit-content;
    justify-self: center;
    transition: .3s;
}

.ceramics .button-viewcollection:hover{
    background-color: #EBE8F4;
}

.title-of-block{
    font-size: 2rem;  
}

.list-of-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding-block: 2rem;
}

.item{
    display: grid;
    gap: 1.5rem;
    font-size: 1.25rem;
    transition: .3s;
    cursor: pointer;
}

.item:hover{
    transform: scale(1.05);
}

.list-of-items img{
    height: 23.4rem;
    width: 19rem
}

/*CLUB*/

.club{
    margin-block: 5rem 3.25rem;
    color: #2A254B;
    display: grid;
    background-color: #F9F9F9;
    text-align: center;
    justify-content: center;
}

.club-content{
    background-color: #FFFFFF;
    margin: 3.3rem 5rem;
    padding: 4.25rem 21.9rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.club-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 29rem;
}

.club-main-text{
    font-size: 1.5rem;
}
.club-text-information{
    font-size: 1.25rem;
}

/*GET IN TOUCH*/

.about-product{
    color:#2A254B
}

.button-get-in-touch{
    color: #2A254B;
    background-color:#F9F9F9;
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 1.25rem;
    transition: .3s;
}

.button-get-in-touch:hover{
    background-color: #EBE8F4;
}

.get-in-touch{
    display: flex;
}

.get-in-touch h5{
    font-size: 1.5rem;
}

.get-in-touch p{
    font-size: 1.25rem;
    color:#505977;
}

.get-in-touch-text-and-button{
    display: flex;
    flex-direction: column;
    gap: 6.5rem
}

.get-in-touch-text{
    display: grid;
    gap: 1.5rem;
    padding: 4.5rem 6.25rem 0rem 0rem;
    margin-left: 5rem;
}

.button-get-in-touch {
    width: max-content;
    margin-left: 5rem;
}

/*FOOTER*/

footer{
    background-color: #2A254B;
    color: white;
    padding: 3.4rem 5.25rem;
    font-size: 1rem;
}

footer a{
    color: white;
    font-size: 1rem;
}

.footer-title{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 3.5rem;
}

.signup-input{
    background-color: #FFFFFF26;
    padding: 1rem 2rem;
    width: 31rem;
    font-size: 1.25rem;
    color: white
}

.club .signup-input{
    background-color: #F9F9F9;
    color:#2A254B;
    width: 21.3rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

.club .signup-input::placeholder{
    color: #726E8D
}

.club .button-signup{
    color: #FFFFFF;
    background-color: #2A254B;
    width: max-content;
}

.club .button-signup:hover{
    background-color: #4E4D93;
}
.signup-input::placeholder{
    color: white
}
.signup{
    display: flex;
}

.footer-upper-block{
    border-bottom: 1px solid #4E4D93;
    display: flex;
    justify-content: space-between;
}

.copyright-and-icons{
    padding-block: 1.5rem 3.1rem;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    gap: 1.5rem;
}

.button-signup{
    padding: 1rem 2rem;
    background-color: white;
    color:#2A254B;
    font-size: 1.25rem;
    transition: .3s;
}

.button-signup:hover{
    background-color: #EBE8F4;
}

.signup-block{
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}


/*PAGE 2*/


.main-page-item{
    background-color: #F9F9F9;
}

.main-item{
    display: flex;
    gap: 4.1rem;
    padding: 3.1rem 5rem
}

.main-item h1, .main-item h2{
    font-size: 1.5rem;
    color:#2A254B;
}

.text-about-item{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem;
    max-width: 31rem;
}

.text-description{
    font-size: 1rem;
    color:#2A254B;
}

.name-of-item, .description-of-product, .dimensions{
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}

.dimensions-parametrs{
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    color:#2A254B
}

.parametr-width{
    border-right: 1px solid #EBE8F4;
    border-left: 1px solid #EBE8F4;
    padding-inline: 2.4rem
}

.item-buttons{
    display: flex;
    gap: 1rem;
}

.add-to-cart-button{
    background-color:#2A254B;
    color: #F9F9F9;
}

.add-to-cart-button, .favorite-button{
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 1.25rem;
    transition: .3s;
    width:auto
}

.favorite-button{
    background-color: #FFFFFF;
    color: #2A254B;
}

.quantity-value{
    color:#2A254B;
    width: 4.5rem;
    text-align: center;
    font-size: 1.25rem;
    align-content: center;
}

.quantity-buttons-and-value button{
    gap: 0rem;
    padding: 0.7rem 0.2rem;
    background-color: #FFFFFF
}

.quantity-value::placeholder{
    color: #2A254B;
}

.club-page-item{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.club-page-item-content{
    display: flex;
    flex-direction: column;
    padding: 4.7rem 5rem;
    gap: 13rem;
    text-align: center;
}

.club-page-item .signup-input{
    background-color: #F9F9F9;
    color:#2A254B;
    width: 20em;
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

.club-page-item .signup-input::placeholder{
    color: #726E8D
}

.club-page-item .button-signup{
    color: #FFFFFF;
    background-color: #2A254B;
    width: max-content;
}

.club-page-item .button-signup:hover{
    background-color: #4E4D93;
}